body {
  background: #fff;
}

.load {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
}

.gif {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
